
# Creado por https://www.gitignore.io/api/python,visualstudio
# Editar en https://www.gitignore.io/?templates=python,visualstudio

### Python ###
# Byte-compiled / optimized / DLL files
__pycache __ /
* .py [cod]
* $ py.class

# Extensiones C
*.asi que

# Distribución / embalaje
.Pitón
construir/
desarrollar-huevos /
dist /
descargas /
huevos/
.huevos/
lib /
lib64 /
partes/
sdist /
var /
ruedas /
pip-wheel-metadata /
compartir / python-wheels /
* .egg-info /
.installed.cfg
*.huevo
MANIFIESTO

# PyInstaller
# Por lo general, estos archivos están escritos por una secuencia de comandos de python desde una plantilla
# antes de que PyInstaller compile el archivo ejecutable, para insertar datos de fecha / otros en él.
*.manifiesto
*.especulación

# Registros del instalador
pip-log.txt
pip-delete-este-directorio.txt

# Test de unidad / informes de cobertura.
htmlcov /
.tox /
.nox /
.cobertura
.cobertura.*
.cache
nosetests.xml
cobertura.xml
*.cubrir
.hipótesis/
.pytest_cache /

# Traducciones
*.mes
*.maceta

# Django cosas:
*.Iniciar sesión
local_settings.py
db.sqlite3

# Cosas del matraz:
ejemplo/
.webassets-cache

# Cosas Scrapy:
.scrapy

# Documentación de Sphinx
docs / _build /

# PyBuilder
objetivo/

Cuaderno # Jupyter
.ipynb_checkpoints

# IPython
profile_default /
ipython_config.py

# pyenv
.python-version

# apio batir archivo de programación
horario de apio

# SageMath analizó archivos
* .sage.py

# Ambientes
.env
.venv
env
venv /
ENV /
env.bak /
venv.bak /

# Configuración del proyecto Spyder
.spyderproject
.spyproject

# Ajustes de proyecto de cuerda
proyecto

# mkdocs documentación
/sitio

# mypy
.mypy_cache /
.dmypy.json
dmypy.json

# Corrector de tipo pira
.pira/

### Parche de Python ###
.venv /

### Estudio visual ###
## Ignorar los archivos temporales de Visual Studio, generar resultados y
## archivos generados por los populares complementos de Visual Studio.
##
## Recibe las últimas noticias de https://github.com/github/gitignore/blob/master/VisualStudio.gitignore

# Archivos específicos del usuario
* .rsuser
* .suo
*.usuario
* .userosscache
* .sln.docstates

# Archivos específicos del usuario (MonoDevelop / Xamarin Studio)
* .userprefs

# Construir resultados
[Dd] ebug /
[Dd] ebugPublic /
[Rr] elease /
[Rr] eleases /
x64 /
x86 /
[Aa] [Rr] [Mm] /
[Aa] [Rr] [Mm] 64 /
bld /
[Bb] en /
[Oo] bj /
[Ll] og /

# Visual Studio 2015/2017 cache / options directory
.vs /
# Descomente si tiene tareas que crean los archivos estáticos del proyecto en wwwroot
# wwwroot /

# Visual Studio 2017 genera automáticamente los archivos
\ Archivos / generados

# MSTest resultados de la prueba
[Tt] est [Rr] esult * /
[Bb] uild [Ll] og. *

# NUNIT
* .VisualState.xml
TestResult.xml

# Generar resultados de un proyecto ATL
[Dd] ebugPS /
[Rr] eleasePS /
dlldata.c

# Resultados de referencia
BenchmarkDotNet.Artifacts /

# .NET Core
proyecto.lock.json
proyecto.fragment.lock.json
artefactos /

# StyleCop
StyleCopReport.xml

# Archivos construidos por Visual Studio
* _i.c
*_ordenador personal
*_S.S
* .ilk
*.meta
* .obj
* .iobj
* .pch
* .pdb
* .ipdb
* .pgc
* .pgd
* .rsp
* .sbr
* .tlb
* .tli
* .tlh
* .tmp
* .tmp_proj
* _wpftmp.csproj
* .vspscc
* .vssscc
.builds
* .pidb
* .svclog
* .scc

# Chutzpah archivos de prueba
_Chutzpah *

# Visual C ++ caché de archivos
ipch /
* .aps
* .ncb
* .opendb
* .opensdf
* .sdf
* .cachefile
* .VC.db
* .VC.VC.opendb

# Visual Studio Profiler
* .psess
* .vsp
* .vspx
*.savia

# Visual Studio Trace Files
* .e2e

# TFS 2012 Local Workspace
$ tf /

# Guidance Automation Toolkit
* .gpState

# ReSharper es un complemento de codificación .NET
_ReSharper * /
*. [Rr] e [Ss] harper
* .DotSettings.user

# JustCode es un complemento de codificación .NET
.JustCode

# TeamCity es un complemento para compilar
_TeamCity *

# DotCover es una herramienta de cobertura de código
* .dotCover

# AxoCover es una herramienta de cobertura de código
.axoCover / *
! .axoCover / settings.json

# Resultados de cobertura de código de Visual Studio
*.cobertura
* .coveragexml

# NCrunch
_NCrunch_ *
. * crunch * .local.xml
nCrunchTemp_ *

# MightyMoose
* .mm. *
AutoTest.Net/

# Banco de trabajo web (sass)
.sass-cache /

# Carpeta de salida de Installshield
[Ee] xpress /

# DocProject es un complemento de generador de documentación
DocProject / buildhelp /
DocProject / Ayuda / *. HxT
DocProject / Ayuda / *. HxC
DocProject / Help / *. Hhc
DocProject / Ayuda / *. Hhk
DocProject / Help / *. Hhp
DocProject / Ayuda / Html2
DocProject / Ayuda / html

# Directorio Click-Once
publicar/

# Publicar salida web
*. [Pp] ublish.xml
* .azurePubxml
# Nota: Comente la siguiente línea si desea verificar la configuración de su despliegue web,
# pero las cadenas de conexión de la base de datos (con posibles contraseñas) no estarán encriptadas
* .pubxml
* .publishproj

# Configuración de publicación de la aplicación web de Microsoft Azure. Comenta la siguiente línea si quieres
# comprobar la configuración de publicación de la aplicación web de Azure, pero la información confidencial contenida
# en estos scripts serán sin cifrar
PublishScripts /

# Paquetes NuGet
* .nupkg
# La carpeta de paquetes se puede ignorar debido a la restauración de paquetes
** / [Pp] ackages / *
# excepto build /, que se usa como un objetivo de MSBuild.
! ** / [Pp] ackages / build /
# Descomentar si es necesario, sin embargo, generalmente se regenerará cuando sea necesario
#! ** / [Pp] ackages / repositories.config
Los archivos project.json de # NuGet v3 producen más archivos ignorables
* .nuget.props
* .nuget.targets

# Microsoft Azure Build Output
csx /
* .build.csdef

# Microsoft Azure Emulator
ecf /
rcf /

# Archivos y directorios de paquetes de aplicaciones de la Tienda Windows
Paquetes de aplicaciones /
BundleArtifacts /
Package.StoreAssociation.xml
_pkginfo.txt
* .appx

# Visual Studio caché de archivos
# los archivos que terminan en .cache pueden ser ignorados
*. [Cc] dolor
# pero manténgase al tanto de los directorios que terminan en .cache
!? *. [Cc] dolor /

# Otros
ClientBin /
~ $ *
* ~
* .dbmdl
* .dbproj.schemaview
* .jfm
* .pfx
* .publishsettings
orleans.codegen.cs

# Incluyendo archivos de nombre fuerte puede presentar un riesgo de seguridad
# (https://github.com/github/gitignore/pull/2483#issue-259490424)
# *. snk

# Dado que hay varios flujos de trabajo, elimine el comentario de la siguiente línea para ignorar bower_components
# (https://github.com/github/gitignore/pull/1529#issuecomment-104372622)
# bower_components /
# Configuración predeterminada de ASP.NET Core: el directorio de bower está configurado como wwwroot / lib / y la restauración de bower es verdadera
** / wwwroot / lib /

# RIA / Silverlight proyectos
Código Generado /

# Copia de seguridad e informe de los archivos de la conversión de un archivo de proyecto antiguo
# a una nueva versión de Visual Studio. Los archivos de copia de seguridad no son necesarios,
# porque tenemos git ;-)
_UpgradeReport_Files /
Apoyo*/
UpgradeLog * .XML
UpgradeLog * .htm
ServiceFabricBackup /
* .rptproj.bak

# Archivos del servidor SQL
* .mdf
* .ldf
* .ndf

# Proyectos de inteligencia de negocios
* .rdl.data
* .bim.layout
* .bim _ *. ajustes
* .rptproj.rsuser
* - Copia de seguridad * .rdl

# Microsoft Fakes
FakesAssemblies /

# Archivo de configuración del complemento GhostDoc
* .GhostDoc.xml

# Node.js Tools para Visual Studio
.ntvs_analysis.dat
nódulos de nodo /

# Visual Studio 6 construir registro
* .plg

# Visual Studio 6 archivo de opciones de área de trabajo
*.optar

# Archivo de área de trabajo generado automáticamente por Visual Studio 6 (contiene qué archivos se abrieron, etc.)
* .vbw

# Visual Studio LightSwitch genera salida
** / *. HTMLClient / GeneratedArtifacts
** / *. DesktopClient / GeneratedArtifacts
** / *. DesktopClient / ModelManifest.xml
** / *. Server / GeneratedArtifacts
** / *. Server / ModelManifest.xml
_Pvt_Extensions

# Gerente de dependencia Paket
.paket / paket.exe
paket-files /

# FALSO - F # Hacer
.falso/

# JetBrains Rider
.idea/
* .sln.iml

# CodeRush configuración personal
.cr / personal

# Herramientas de Python para Visual Studio (PTVS)
* .pyc

# Pastel - Descomprime si lo estás usando
# herramientas/**
#! tools / packages.config

# Tabs Studio
* .tss

# El archivo de configuración de JustMock de Telerik
* .jmconfig

# Salida de la compilación de BizTalk
* .btp.cs
* .btm.cs
* .odx.cs
* .xsd.cs

# OpenCover UI análisis de resultados
OpenCover /

# Salida de ejecución local de Azure Stream Analytics
ASALocalRun /

# MSBuild Binary y Structured Log
* .binlog

# NVidia Nsight GPU archivo de configuración del depurador
* .nvuser

Carpeta de trabajo # MFractors (herramienta de productividad Xamarin)
.fractor /

# Historia local para Visual Studio
.Historia local/

# BeatPulse healthcheck temp database
healthchecksdb

# Fin de https://www.gitignore.io/api/python,visualstudio